body {
    margin: 50px;
}

.number {
    font-size: 200px;
}

.click-button {
    color: rgb(234, 0, 255);
    border-radius: 15px;
    font-size: 30px;
    padding: 10px;
    background-color: blue;
}


.message {

    font-size: 50px;
    margin-top:50px;
    font-weight: bold;
}
